# Source: kubeflow/manifests/blob/master/apps/admission-webhook/upstream/base/cluster-role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app: {{ app_name }}
  name: {{ namespace }}-{{ app_name }}-charm
rules:
- apiGroups:
  - kubeflow.org
  resources:
  - poddefaults
  verbs:
  - get
  - list
  - watch
  - update
  - create
  - patch
  - delete