# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  lib-check:
    name: Check libraries
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/_quality-checks.yaml@main
    secrets: inherit
    with:
        charm-path: "."

  lint:
    name: Lint
    runs-on: ubuntu-20.04

    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install tox
    - name: Lint code
      run: tox -vve lint

  unit:
    name: Unit Test
    runs-on: ubuntu-20.04

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt-get install python3-pip tox

    - name: Run unit tests
      run: tox -e unit

  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    with:
      charm-path: .
      channel: 1.9/stable

  integration:
    name: Integration Tests
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Setup operator environment
      uses: charmed-kubernetes/actions-operator@main
      with:
        provider: microk8s
        channel: 1.29-strict/stable
        charmcraft-channel: latest/candidate
        juju-channel: 3.4/stable

    - name: Test
      run: |
        sg snap_microk8s -c "tox -vve integration -- --model testing"

    # On failure, capture debugging resources
    - name: Get all
      run: kubectl get all -A
      if: failure()

    - name: Describe deployments
      run: kubectl describe deployments -A
      if: failure()

    - name: Describe replicasets
      run: kubectl describe replicasets -A
      if: failure()

    - name: Get juju status
      run: juju status
      if: failure()

    - name: Get application logs
      run: kubectl logs -n testing --tail 1000 -ljuju-app=admission-webhook
      if: failure()

    - name: Get application operator logs
      run: kubectl logs -n testing --tail 1000 -ljuju-operator=admission-webhook
      if: failure()
