name: Lint PR title

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

permissions:
  pull-requests: read

jobs:
  lint:
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/_pull-request-lint-title.yaml@main
    secrets: inherit
